:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --grey-bg-color: #f5f4fa;
  --color-title: #ffffff;
  --color-btn: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
}

body {
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*-----HEADER-----*/

/*-----HEADER END-----*/

/*-----HERO-----*/

/*-----HERO-----*/

/*-----FEATURES-----*/

/*-----FEATURES END-----*/

/*-----WORK-----*/

/*-----WORK END-----*/

/*-----TEAM-----*/

/*-----FOOTER-----*/

/*-----FOOTER END-----*/

/*----PORTFOLIO-----*/

